:root {
    --primary-accent: #467fbf;
    --navbar-border-top: #294d76;
    --button-border: #336194;
    --link-focus: #2f5a89;
    --form-shadow: rgba(70, 127, 191, 0.6);
    --pagination-bg: #b8cee6;
    --link-hover-bg: #36669c;
    --navbar-focus: #92b3d9;
  }

.pagination {
	display: flex;
	justify-content: center;
}

.header-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;

    display: inline-block;
    padding-top: 10px;
}

.wrapper {
    // width: 85%;
    // margin: auto;
    padding-bottom: 50px;
}

.home {
    width: 85%;
    margin: auto;
}

.profile-image {
    width: 18%;
}

.profile {
    margin-top: 20px;
}

.test:hover {
    border: none;
    color: white;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    // color: #4582ec;
    border: none;
    // background-color:#4582ec;
    // color: white;
}




.blue-box {
    background: #f3fbff;
  border: 2px skyblue dashed;
}

ul {
    padding-left: 20px;
}

h1 {
    font-size: large;
}

h2 {
    font-size: large;
}

.category-text {
    padding-bottom: 20px;
    padding-top: 20px;
}

.category-text h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: x-large;
    letter-spacing: 2px;
}

.panel.sidebar-menu ul.tag-cloud {
  list-style: none;
  padding-left: 0;
}
.panel.sidebar-menu ul.tag-cloud li {
  display: inline-block;
}
.panel.sidebar-menu ul.tag-cloud li a {
  display: inline-block;
  padding: 5px;
  border: solid 1px #eeeeee;
  border-radius: 0;
  color: var(--primary-accent);
  margin: 5px 5px 5px 0;
  // text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
.panel.sidebar-menu ul.tag-cloud li a:hover {
  color: var(--primary-accent);
  border-color: var(--primary-accent);
}
.panel.sidebar-menu ul.tag-cloud li.active a {
  color: #FFFFFF;
  background-color: var(--primary-accent);
}
.panel.sidebar-menu ul.tag-cloud li.active a:hover {
  color: #FFFFFF;
}

